
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@model SellBookStore.Models.Books
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">@Model.Title</h4>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="iq-card-body">
                        <form method="post" action="/Admin/Update/SuaSach" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Id sách:</label>
                                @Html.EditorFor(model => model.BookId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BookId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Tên sách:</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Danh mục sách:</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option selected="" disabled="">Danh mục sách</option>
                                    @if (@ViewBag.ListCate != null)
                                    {
                                        var cates = (List<SellBookStore.Models.Catetory>)ViewBag.ListCate;
                                        foreach (var item in cates)
                                        {
                                            <option value=@item.CateId>@item.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tác gải sách:</label>
                                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="file">Choose Image:</label>
                                <input type="file" name="uploadhinh" id="uploadhinh" />
                            </div>
                            <div class="form-group">
                                <label for="file">File book:</label>
                                <input type="file" name="file" id="file" />
                            </div>
                            <div class="form-group">
                                <label>Giá sách:</label>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Nội dung:</label>
                                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary">Sửa</button>
                            <button type="reset" class="btn btn-danger">Trở lại</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

